modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "JavaScript Hello World"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "main"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MangaHere API Server"

[[workflows.workflow]]
name = "JavaScript Hello World"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "main"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "MangaHere API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
