modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["nix-output-monitor"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Hello World"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MangaHere API"

[[workflows.workflow]]
name = "Hello World"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node hello.js"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "MangaHere API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
